/* playlist
* mixtape-singuila-youtube : https://youtu.be/a2sHzvvpROc?t=2070
* mixtape-arafat : https://youtu.be/MNKQhJcGWEo;
*/



*{
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #f7f9f8;
}

.text-green{
	color: #1fb578;
}
.bg-green{
	background: #1fb578;
}

.bg-green-black{
	background-color: #0d7148;
}

.bg-black{
	background: #1d1d1d;
}

.btn-green{
	color: #fff;
	background: #1fb578;
	border: 1px solid #1fb578;
}

.btn-green:hover{
	color: #fff;
	background: #0d7148;
	border: 1px solid #0d7148;
}

.logo{
	font-weight: 800;
}

.logo a{
	font-size: 25px;
	color: #1fb578;
}

.navbar-nav .nav-item .nav-link{
	text-align: center;
	color: #1d1d1d;
	font-weight: 600;
	margin: 0 15px;
	transition: .2s ease;
}

.navbar-nav .nav-item .nav-link:hover{
	color: #1fb578;
} 

.navbar-nav .nav-item .nav-link.active{
	color: #1fb578;
	border-bottom: 3px solid #1fb578;
	padding-bottom: 5px;
}


.menu-desktop{
	z-index: 2;
}

.menu-desktop-items .nav-link{
	color: #fff;
}
.breadcrumbs{
	background-size: cover;
	background-position: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	padding: 85px 0;
}

.content{
	margin-top: 200px;
}

.menu-mobile .menu-mobile-item small{
	font-size: 9px;
	font-weight: 600;
}

.menu-mobile .menu-mobile-item.active small, .menu-mobile .menu-mobile-item.active i{
	color: #1fb578;
}


.title-page{
	width: 100%;
	text-align: center;
	margin: 35px 0;
}

.trailer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	margin-top: 35px; 
}

.trailer .video-trailer video{
	width: 650px;
	outline: none;
}

.video-trailer{
	position: relative;
	width: 100%;
}

.show-video{
	margin: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
	transition: .5s linear;
}

.show-video video{
	max-width: 900px;
	outline: none;
}

.show-video .close{
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
}

.show-video.active{
	visibility: visible;
	opacity: 1;
}

.show-video .close{
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
}
.video .video-trailer .play-btn {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
.video .video-trailer .play-btn a i{
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 40px);
	font-size: 55px;
}

.trailer .text-header{
	font-size: 2rem;
	font-weight: 700;
	line-height: 35px;
}

.trailer .text-header h3{
	color: #1fb578;
	font-size: 3rem;
	font-weight: 800;
}


#service .carousel-indicators button{
	background-color: #0d7148;
}

/*.carousel-control-prev{
	position: absolute;
	left: -70px;
}

.carousel-control-next{
	position: absolute;
	right: -70px;
}*/

#service .carousel-control-prev .prev, #service .carousel-control-next .next{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0d7148;
}

.service .description h1, #description-upsells h1{
	font-weight: 800;
}

#description-upsells{
	margin-bottom: 35px;
}

 #description-upsells p{
	font-size: 12px;
}

.service .description .price, #description-upsells .price{
	padding: 5px;
	color: #1fb578;
	font-weight: 600;
	border: 2px solid #1fb578;
}


#testimonials{
	margin-top: 35px;
	background-color: #1fb578;
	height: 350px;
}

#testimonials .carousel-indicators button{
	width: 10px;
	height: 10px;
	border-radius: 50%; 
}

#testimonials-upsells .carousel-indicators button{
	width: 7px;
	height: 7px;
	border-radius: 50%; 
	border: 1px solid #1fb578;
	position: relative;
}

#testimonials-upsells .carousel-indicators button.active{
	background: #1fb578;
}

#testimonials-upsells .carousel-item .caption h4{
	font-size: 15px;
}

#testimonials-upsells .carousel-item .caption p{
	font-size: 12px;
}

#testimonials-upsells .carousel-control-prev .carousel-control-prev-icon, 
#testimonials-upsells .carousel-control-next .carousel-control-next-icon{
	filter: invert(1);
}

.guaranted{
	margin: 0;
	padding: 0;
	color: #fff;
	background-image: linear-gradient(
			to right bottom, 
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),url(../images/guaranted.jpg);
	background-size: cover;
	background-position: top;
	height: 350px;
}

.order-complete, .invoice{
	margin: 55px;
}

.invoice-desc{
	padding: 35px;
}

.header-card{
	padding: 20px;
}

.header-card h3 {
	font-weight: 800;
	font-size: 35px;
}

.header-card h4 {
	font-weight: 800;
	font-size: 25px;
	text-align: center;
}

.us-info{
	margin-top: 15px; 
	text-align: right;
}

.info-card{
	padding: 50px;
}

.order-resume-payment{
	float: right;
	width: 25%;
}
.order-resume-payment table, .order-info-card table thead tr{
	font-size: 13px;
}
.order-info-card table tbody tr{
	font-size: 12px;
}

.invoice-desc{
	padding: 35px;
	margin-bottom: 300px;
}

.invoice-total{
	padding: 0;
	margin: 0;
}

.invoice-total .col-sm h1{
	font-weight: 700;
}

footer{
	background-color: #1d1d1d;
	color: #fff;
	padding: 35px;
}

.footer-1 .sci{
	font-size: 25px;
}

.footer-1 h5, .footer-2 h5, .footer-3 h5, .footer-4 h5{
	margin-top: 15px;
}

.footer-1 p, .footer-3 p, .footer-4 p{
	font-size: 12px;
}

.footer-2 p, .footer-3 p{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-2 p a{
	font-size: 14px;
	margin: 5px 0;
	color: #fff;
	text-decoration: none;
}

.footer-2 p a:hover{
	color: #1fb578;
	transition: .3s;
}

.menu-mobile .menu-item.active{
	background-color: #1d1d1d;
}

@media (max-width: 991px){
	.logo{
		padding: 35px 0 0 35px;
	}
	.trailer .video-trailer video {
	    width: 100%;
	}

	.trailer .text-header h3{
		font-size: 27px;
	}
	.trailer .text-header{
		margin: 15px;
		font-size: 15px;
		line-height: 20px;
	}

	.show-video video{
		max-width: 80%;
	}

	.show-video.active{
		top: 50%;
		left: 50%;
	}

	#testimonials .carousel-item .caption{
		font-size: 12px;
	}

	#testimonials .carousel-indicators button{
		height: 5px;
		width: 5px;
	}

	.info-card{
		padding: 0;
	}

	.order-resume-payment{
		float: left;
		width: 100%;
	}

	.us-info{
		margin-top: 15px; 
		text-align: left;
	}	

	.header-card{
		padding: 0;
		margin: 15px 0;  
	}

	.invoice-desc{
		padding: 0;
	}
}